@import url("https://fonts.googleapis.com/css?family=Inter");

a {
  color: #0000ee;
}

body {
  background-color: #fff;
}

.landing-header {
  /* Heading */

  /* Display xl/Semibold */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: -0.02em;

  /* Gray/900 */
  color: #101828;

  margin-top: 100px;
}

.landing-subheader {
  /* Supporting text */

  /* Text xl/Regular */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;

  /* Gray/500 */
  color: #667085;
}
.btn {
  background-color: #6941c6;
}
.common-btn {
  background-color: #6941c6;
  color: #ffffff;
  margin-top: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  border-radius: 8px;
  border: none;
  margin: 0;
}

.landing-mockup {
  width: 1280px;
}

.auth-field {
  height: 44px;

  /* Gray/300 */
  border: 1px solid #d0d5dd;

  /* Shadow/xs */
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #667085;
}

.auth-common {
  background: #ffffff;
  width: 360px;
  font-family: "Inter";
}

.auth-field-label {
  font-weight: bold;
  color: #344054;
  font-size: 16px;
  text-align: left;
  padding: 0px 0px 5px 0px;
}

.auth-row {
  justify-content: center;
  display: grid;
  padding-bottom: 25px;
}

.auth-header {
  color: black;
  justify-content: left;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
}

.page-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.news-card-holder {
  /* margin-top: 50px; */
  flex-direction: row;
  flex-wrap: wrap;
}

.news-card {
  width: 60%;
  height: 220px;
  border: 1px solid #eaecf0;
  /* Shadow/sm */
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
}

.news-card-image {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: auto;
  left: auto;
  z-index: 1;
  width: 15%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
}

.news-card-text {
  width: 80%;
  margin: 20px 0px 0px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-card-title {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.table-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #101828;
}

.table-sublabel {
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  color: #667085;
}

.stock_key_stat_row {
  border-top: 1px solid #dadce0;
  padding: 8px 0;
  min-height: 43px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock_key_stat_box {
  border-radius: 12px;
  border: 1px #dadce0 solid;
  margin-bottom: 16px;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
  height: 370px;
}

.SingleDatePickerInput {
  border: 0px;
}

/* Fix box width of datepicker to be 100% of parent container*/
.DateInput,
.DateInput_1 {
  width: 100%; /* replace with whatever length you prefer */
}

/* Fix the font size and other stuff of datepicker*/
.DateInput_input,
.DateInput_input_1 {
  /* my personal stuff */
  line-height: calc(1.5em + 0.75rem);
  /* default flatly stuff */
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 0.9375rem;
  font-weight: 400;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.small {
  transform: scale(0.8);
  -ms-transform: scale(0.8); /* IE 9 */
  -webkit-transform: scale(0.8); /* Safari and Chrome */
  -o-transform: scale(0.8); /* Opera */
  -moz-transform: scale(0.8); /* Firefox */
  transform-origin: top center;
}

/* Stock page tabs */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #6610f2;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.active-tab {
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  color: #6610f2;
}

.inactive-tab {
  font-weight: bold;
  color: #667085;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.05
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.d-flex[style*="display:none"],
.d-flex[style*="display: none"] {
  display: none !important;
}
